In [ ]:
print("Hello World")

Hello World

In [ ]:
job_title = "Data Analyst"
job_location = "United States"
job_salary = 90000

In [ ]:
print(f"JOb:         {job_title}\nLocation:    {job_location}\nSalary:      ${job_salary:,.0f}")

JOb:         Data Analyst
Location:    United States
Salary:      $90,000

In [ ]:
def display_info():
  return print(f"JOb:         {job_title}\nLocation:    {job_location}\nSalary:      ${job_salary:,.0f}")

In [ ]:
display_info()

JOb:         Data Analyst
Location:    United States
Salary:      $90,000

In [ ]:
class JobPost:
  def __init__(self, title, location, salary):
    self.title = title
    self.location = location
    self.salary = salary

In [ ]:
Job1 = JobPost(job_title, job_location, job_salary)

In [ ]:
Job1.location

'United States'

In [ ]:
Job1.title

'Data Analyst'

In [ ]:
string = "PYTHON"

In [ ]:
type(string)

str

In [ ]:
string.capitalize()

'Python'

In [ ]:
string.lower()

'python'

In [ ]:
string.upper()

'PYTHON'

In [ ]:
string.replace("T", "X")

'PYXHON'

In [ ]:
job_title.replace('a', 'o', 2)

'Doto Analyst'

In [ ]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the front of the string and works to the end.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [ ]:
len(job_title)

12

In [ ]:
job = "Data"
role = "Analyst"

In [ ]:
"Role : "+job+' '+role

'Role : Data Analyst'

In [ ]:
role = 'Data Analyst'
skill = 'Python'

In [ ]:
"Role : {}".format(role)

'Role : Data Analyst'

In [ ]:
"Role : {}, Skill Required : {}".format(role, skill)

'Role : Data Analyst, Skill Required : Python'

In [ ]:
years_experience = "0123456789"

In [ ]:
", ".join(years_experience)

'0, 1, 2, 3, 4, 5, 6, 7, 8, 9'

In [ ]:
"-".join(years_experience)

'0-1-2-3-4-5-6-7-8-9'

In [ ]:
print("5 divided by 2 is :", 5 // 2, "while a reminder of :", 5 % 2)

5 divided by 2 is : 2 while a reminder of : 1

In [ ]:
e_list = ['a','b',1,2,3,9.96,"ice"]
e_list

['a', 'b', 1, 2, 3, 9.96, 'ice']

In [ ]:
e_list.append("Abs")
e_list

['a', 'b', 1, 2, 3, 9.96, 'ice', 'Abs']

In [ ]:
e_list.remove("Abs")
e_list

['a', 'b', 1, 2, 3, 9.96, 'ice']

In [ ]:
len(e_list)

7

In [ ]:
e_list[2:5]

[1, 2, 3]

In [ ]:
e_list.pop(4)

3

In [ ]:
e_list

['a', 'b', 1, 2, 9.96, 'ice']

In [ ]:
e_list.insert(1, "X")
e_list

['a', 'X', 'b', 1, 2, 9.96, 'ice']

In [ ]:
e_list[1:5:2]

['X', 1]

In [ ]:
list_1, list_2, *list_no = e_list

In [ ]:
print(list_1)
print(list_2)
print(list_no)

a
X
['b', 1, 2, 9.96, 'ice']

In [ ]:
job_skills = ["Excel", "Power BI", "SQL"]
job_skills

['Excel', 'Power BI', 'SQL']

In [ ]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
d_dic = {
    'a' : 1,
    'b' : 2,
    'c' : 3,
    'd' : 4
}
d_dic

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
d_dic.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [ ]:
d_dic.values()

dict_values([1, 2, 3, 4])

In [ ]:
d_dic.pop('c')
d_dic

{'a': 1, 'b': 2, 'd': 4}

In [ ]:
e_set = {'a','c','T','C',5,4}
e_set

{4, 5, 'C', 'T', 'a', 'c'}

In [ ]:
e_set.add(9)
e_set

{4, 5, 9, 'C', 'T', 'a', 'c'}

In [ ]:
e_set.pop()

'c'

In [ ]:
e_set

{4, 5, 9, 'C', 'T', 'a'}

In [ ]:
e_set.remove('a')

In [ ]:
e_set

{4, 5, 9, 'C', 'T'}

In [ ]:
job_roles = [
    'Data Analyst', 'Software Engineer', 'Project Manager', 'Marketing Specialist',
    'Financial Analyst', 'Graphic Designer', 'UX/UI Designer', 'Product Manager',
    'Human Resources Manager', 'Operations Manager', 'Content Writer',
    'Digital Marketing Manager', 'Business Development Manager', 'Sales Representative',
    'Customer Success Manager', 'DevOps Engineer', 'Cybersecurity Analyst',
    'Network Administrator', 'Cloud Architect', 'Database Administrator',
    'Research Scientist', 'Biomedical Engineer', 'Mechanical Engineer',
    'Electrical Engineer', 'Civil Engineer', 'Architect', 'Urban Planner',
    'Environmental Scientist', 'Geologist', 'Chemist', 'Physicist',
    'Astronomer', 'Mathematician', 'Statistician', 'Economist',
    'Teacher', 'Professor', 'Librarian', 'Social Worker', 'Psychologist',
    'Therapist', 'Medical Doctor', 'Nurse', 'Pharmacist', 'Dentist',
    'Physical Therapist', 'Occupational Therapist', 'Speech-Language Pathologist',
    'Veterinarian', 'Pilot', 'Flight Attendant', 'Air Traffic Controller',
    'Mechanic', 'Electrician', 'Plumber', 'Carpenter', 'Welder',
    'Mason', 'Chef', 'Baker', 'Barista', 'Bartender', 'Waiter/Waitress',
    'Hotel Manager', 'Tour Guide', 'Travel Agent', 'Event Planner',
    'Photographer', 'Videographer', 'Journalist', 'Editor', 'Musician',
    'Actor', 'Director', 'Film Producer', 'Fashion Designer', 'Fashion Stylist',
    'Jewelry Designer', 'Interior Designer', 'Landscaper'
]


# # Optional: Add an extra check to ensure 'Data Analyst' is in the list
# if 'Data Analyst' not in dummy_jobs:
#     dummy_jobs[random.randint(0, 1999)] = 'Data Analyst'

# print(dummy_jobs)

In [ ]:
len(job_roles)

80

### LOOPS

In [ ]:
analyst_jobs = []

for jobs in job_roles:
  if 'Manager' in jobs:
    analyst_jobs.append(jobs)

analyst_jobs

['Project Manager',
 'Product Manager',
 'Human Resources Manager',
 'Operations Manager',
 'Digital Marketing Manager',
 'Business Development Manager',
 'Customer Success Manager',
 'Hotel Manager']

In [ ]:
import random

# A list of common first names to use as keys
first_names = [
    "Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Heidi",
    "Ivan", "Judy", "Kevin", "Liam", "Mia", "Noah", "Olivia", "Peter",
    "Quinn", "Rachel", "Sam", "Tina", "Uma", "Victor", "Wendy", "Xavier",
    "Yara", "Zoe", "Anna", "Ben", "Chloe", "Daniel", "Ella", "Felix",
    "Georgia", "Harry", "Isla", "Jack", "Kate", "Leo", "Maya", "Nathan"
]

years_experience = {}
# Ensure uniqueness of names if drawing from a smaller list than 25,
# or simply allow duplicates if the list is large enough and random.choice is used.
# For 25 items, we can just pick random names and years.

# Use a set to keep track of names already used to ensure unique keys
used_names = set()

while len(years_experience) < 25:
    name = random.choice(first_names)
    # Add a simple counter to the name if it's already used, to ensure uniqueness
    # This is a simple way to handle potential name collisions if first_names list is small
    original_name = name
    counter = 1
    while name in used_names:
        name = f"{original_name}{counter}"
        counter += 1

    years = random.randint(1, 20)  # Years of experience between 1 and 20
    years_experience[name] = years
    used_names.add(name)

print(years_experience)

{'Kevin': 8, 'Frank': 12, 'Alice': 6, 'Anna': 14, 'Harry': 11, 'Kate': 11, 'Mia': 6, 'Victor': 10, 'Jack': 4, 'Jack1': 16, 'Peter': 17, 'Ella': 15, 'Zoe': 1, 'Grace': 10, 'Rachel': 19, 'Quinn': 17, 'Maya': 18, 'Yara': 1, 'Ella1': 9, 'David': 20, 'Anna1': 10, 'Olivia': 14, 'Felix': 18, 'Georgia': 18, 'Kate1': 14}

In [ ]:
years_experience

{'Kevin': 8,
 'Frank': 12,
 'Alice': 6,
 'Anna': 14,
 'Harry': 11,
 'Kate': 11,
 'Mia': 6,
 'Victor': 10,
 'Jack': 4,
 'Jack1': 16,
 'Peter': 17,
 'Ella': 15,
 'Zoe': 1,
 'Grace': 10,
 'Rachel': 19,
 'Quinn': 17,
 'Maya': 18,
 'Yara': 1,
 'Ella1': 9,
 'David': 20,
 'Anna1': 10,
 'Olivia': 14,
 'Felix': 18,
 'Georgia': 18,
 'Kate1': 14}

In [ ]:
for values in years_experience.values():
  print(values)

8
12
6
14
11
11
6
10
4
16
17
15
1
10
19
17
18
1
9
20
10
14
18
18
14

In [ ]:
Character = 'PYTHON'

for i in Character:
  print(i)

P
Y
T
H
O
N

In [ ]:
for key, value in years_experience.items():
  if value > 8:
    print(key, 'has', value, 'years of experience.')

Frank has 12 years of experience.
Anna has 14 years of experience.
Harry has 11 years of experience.
Kate has 11 years of experience.
Victor has 10 years of experience.
Jack1 has 16 years of experience.
Peter has 17 years of experience.
Ella has 15 years of experience.
Grace has 10 years of experience.
Rachel has 19 years of experience.
Quinn has 17 years of experience.
Maya has 18 years of experience.
Ella1 has 9 years of experience.
David has 20 years of experience.
Anna1 has 10 years of experience.
Olivia has 14 years of experience.
Felix has 18 years of experience.
Georgia has 18 years of experience.
Kate1 has 14 years of experience.

In [ ]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [ ]:
for abs in range(100):
  print(abs)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
years_list = list(years_experience.items())
years_list

[('Kevin', 8),
 ('Frank', 12),
 ('Alice', 6),
 ('Anna', 14),
 ('Harry', 11),
 ('Kate', 11),
 ('Mia', 6),
 ('Victor', 10),
 ('Jack', 4),
 ('Jack1', 16),
 ('Peter', 17),
 ('Ella', 15),
 ('Zoe', 1),
 ('Grace', 10),
 ('Rachel', 19),
 ('Quinn', 17),
 ('Maya', 18),
 ('Yara', 1),
 ('Ella1', 9),
 ('David', 20),
 ('Anna1', 10),
 ('Olivia', 14),
 ('Felix', 18),
 ('Georgia', 18),
 ('Kate1', 14)]

In [ ]:
years_list[::2]

[('Kevin', 8),
 ('Alice', 6),
 ('Harry', 11),
 ('Mia', 6),
 ('Jack', 4),
 ('Peter', 17),
 ('Zoe', 1),
 ('Rachel', 19),
 ('Maya', 18),
 ('Ella1', 9),
 ('Anna1', 10),
 ('Felix', 18),
 ('Kate1', 14)]

In [ ]:
years_list = list(years_experience.items())
years = 0
values = 0

while (years > 5):
  key, values = years_list[index]
  print(key, values)
  index += 1

In [ ]:
i = 1
while (i < 11):
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 0
while (i<6):
  print('Abs')
  i += 1

Abs
Abs
Abs
Abs
Abs
Abs

In [ ]:
years_list
count = 0
while (count < len(years_list)):
  print(years_list[count])
  count = count + 1

('Kevin', 8)
('Frank', 12)
('Alice', 6)
('Anna', 14)
('Harry', 11)
('Kate', 11)
('Mia', 6)
('Victor', 10)
('Jack', 4)
('Jack1', 16)
('Peter', 17)
('Ella', 15)
('Zoe', 1)
('Grace', 10)
('Rachel', 19)
('Quinn', 17)
('Maya', 18)
('Yara', 1)
('Ella1', 9)
('David', 20)
('Anna1', 10)
('Olivia', 14)
('Felix', 18)
('Georgia', 18)
('Kate1', 14)

In [ ]:
l = ['1n','5f','6i','9x']
for i in l:
  print(i)
else :
  print("Done")

1n
5f
6i
9x
Done

In [ ]:
num = [1,2,3,4,5,6,7,8,9,10]
for i in num:
  if i == 6:
    break
  print(i)

1
2
3
4
5

In [ ]:
num = [1,2,3,4,5,6,7,8,9,10]
for i in num:
  if i == 6:
    continue
  print(i)

1
2
3
4
5
7
8
9
10

In [ ]:
num = [1,2,3,4,5,6,7,8,9,10]
for i in num:
  if i == 5:
    continue
  if i == 8:
    break
  print(i)

1
2
3
4
6
7

In [ ]:
### Q:1 Write a program to print multiplication of 8 using for loop
num = int(input("Enter your number: "))
for i in range(1, 11):
  print(f"{num} X {i} = {i * num}")

Enter your number: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
### Q:2 Write a program to greet all the person names stored in a list 'l' and which starts with S.
l = ["Harry", "Soham", "Sachin", "Rahul"]

for name in l:
  if (name.startswith("S")):
    print(f"Hello {name}")

Hello Soham
Hello Sachin

In [ ]:
### Q:3 Attempt problem 1 using while loop.
num = int(input("Enter a number : "))
i = 1
while (i<11):
  print(f"{num} X {i} = {num*i}")
  i += 1

Enter a number : 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
### Q:4 Write a program to find whether a given number is prime or not.
num = int(input("Enter a number : "))
for i in range(2, num):
  if (num % i) == 0:
    print(f"{num} is not a prime number")
    break
else:
    print(f"{num} is a prime number")

Enter a number : 4
4 is not a prime number

In [ ]:
### Q:5 Write a program to find sum of first n natural numbers using while loop.
num = int(input("Enter a number : "))
i = 1
sum = 0
while (i<=num):
  sum = sum + i
  i += 1
  print(sum)

Enter a number : 9
1
3
6
10
15
21
28
36
45

In [ ]:
### Q:6 Write a program to calculate the factorial of a given number using for loop.
#5! = 1 X 2 X 3 X 4 X 5

num = int(input("Enter a number : "))
fact = 1
for i in range(1, num+1):
  fact = fact * i
  print(f"The factorial of the {num} is = {fact}")

Enter a number : 1
The factorial of the 1 is = 1

In [ ]:
### Q:7 Write a program to print the following star pattern.
#    *
#   ***
#  *****    for n = 3
num = int(input("Enter a number : "))
for i in range(1, num+1):
  print(" " * (num - i), end = "")
  print("*" * (2*i - 1))

Enter a number : 3
  *
 ***
*****

In [ ]:
### Q:8 Write a program to print the following star pattern :
# *
# **
# ***   for n = 3
num = int(input("Enter a number : "))
for i in range (1, num+1):
  # print(" " * )
  print("*" * i)

Enter a number : 4
*
**
***
****

In [ ]:
### Q:9 Write a program to print the following star pattern :
# ***
# * *   for n = 3
# ***
num = int(input("Enter a number : "))
for i in range (1, num+1):
  if i == 1 or i == num:                #(i=1) means first row, (i=num) means last row.
    print("*" * num)                    #in the first and last row, we have to print all the *
  else :
    print("*", end = "")                #if it is not the first or last row then we have to print * in the left border.
    print(" " * (num-2), end = "")      #some spaces are in the middle rows except the border lines(left+right)
    print("*")                          #if it is not the first or last row then we have to print * in the right border.

Enter a number : 8
********
*      *
*      *
*      *
*      *
*      *
*      *
********

In [ ]:
### Q:10 Write a program to print multiplication table of n using for loops in reversed order.
num = int(input("Enter a number : "))

for i in range (1, 11):
  print(f"{num} X {11 - i} = {num * (11-i)}")

Enter a number : 6
6 X 10 = 60
6 X 9 = 54
6 X 8 = 48
6 X 7 = 42
6 X 6 = 36
6 X 5 = 30
6 X 4 = 24
6 X 3 = 18
6 X 2 = 12
6 X 1 = 6