### User Defined Functions

In [ ]:
def calculate_salary(base_salary, bonus):
  total_salary = base_salary*(1+bonus)
  return total_salary

In [ ]:
calculate_salary(15000,0.25)

18750.0

In [ ]:
def avg():
  a = int(input("Enter your number : "))
  b = int(input("Enter your number : "))
  c = int(input("Enter your number : "))
  print((a+b+c)/3)

In [ ]:
avg()
avg()
avg()

Enter your number : 5
Enter your number : 4
Enter your number : 5
4.666666666666667
Enter your number : 22
Enter your number : 33
Enter your number : 44
33.0
Enter your number : 55
Enter your number : 66
Enter your number : 55
58.666666666666664

In [ ]:
def greet():
  user_name = input("What is your name?\n")
  print("Good day" ,user_name)

In [ ]:
greet()

What is your name?
jnsadhn
Good day jnsadhn

In [ ]:
def greet_1(name, ending):
  print("Good Day, "+name)
  print(ending)

In [ ]:
a = greet_1("Sabbir", "Thanks")
print(a)

Good Day, Sabbir
Thanks
None

In [ ]:
greet_1("Abs", "You are awesome")

Good Day, Abs
You are awesome

In [ ]:
def wish_1(name):
  gr = "Good Day "+name
  return gr

In [ ]:
c = wish_1("Sabbir")

In [ ]:
c

'Good Day Sabbir'

In [ ]:
def ac(name):
  ttt = "Hi "+name
  print(ttt)
  return 7

In [ ]:
o = ac("Abs")
print(o)

Hi Abs
7

In [ ]:
def greeting(name, ending = "Thank you."):
  return name+" "+ending

In [ ]:
w = greeting("Sabbir", "Good Bye")

In [ ]:
w

'Sabbir Good Bye'

In [ ]:
def greetings(name, ending = "Thank you."):
  print(name+" "+ending)

In [ ]:
x = print(greetings("Abs"))
x

Abs Thank you.
None

In [ ]:
x

## Recursion

In [ ]:
def factorial(n):
  if (n == 0 or n == 1):
    return 1
  return n * factorial(n-1)

In [ ]:
factorial(4)

24

**Functions & Recursions Practice Set**

In [ ]:
# Q1 : Write a program using functions to find greatest of three numbers.
def big_num(a,b,c):
  if (a>b and a>c):
    return a, " is the biggest number."
  elif (b>c and b>a):
    return b, " is the biggest number."
  elif (c>a and c>b):
    return c, " is the biggest number."
  else:
    return "Biggest numbers are same."

In [ ]:
a = big_num(-99,103,103)
print(a)

Biggest numbers are same.

In [ ]:
# Q2 : Write a python program using functions to convert Celsius to Fahrenheit.
def f_to_c(f):
  return print(f"{round((5*(f-32)/9),2)}°C")

In [ ]:
f_to_c(156)

68.89°C

In [ ]:
# Q3 : How do you prevent a python print() function to print a new line at the end.
print("a")
print("b")
print("c", end = "")
print("d", end = "")

a
b
cd

In [ ]:
# Q4 : Write a recursive function to calculate the sum of first n natural numbers.
def cal(n):
  if (n == 1):
    return 1
  return cal(n-1)+n

In [ ]:
cal(5)

15

In [ ]:
## Same answer with while loop
num = int(input("Enter your number : "))
sum = 0
i = 1
while (i<=num):
  sum = sum + i
  i += 1
print(sum)

Enter your number : 12
78

In [ ]:
# Q5 : Write a python function to print first n lines of the following pattern:
# ***
# **    for n=3
# *
def pattern(n):
  if (n == 0):
    return
  print("*" * n)
  pattern(n-1)

In [ ]:
pattern(3)

***
**
*

In [ ]:
# Q6 : Write a python function which converts inches to cms.
def i_to_c(n):
  return print(f"{n}inches = {n*2.54}cm")

In [ ]:
i_to_c(12)

12inches = 30.48cm

In [ ]:
# Q7 : Write a python function to remove a given word from a list and strip it at the same time.
name_list = ["Sabbir", "Akash", "Saima", "Morsel", "Naima", "Shuvo", "Porosh"]
def check(name):
  n = []
  for items in name_list:
    if not(items == name):
      n.append(items.strip(name))
  return n

In [ ]:
check("S")

['abbir', 'Akash', 'aima', 'Morsel', 'Naima', 'huvo', 'Porosh']

In [ ]:
# Q8 : Write a python function to print multiplication table of a given number.
def mul(n):
  for i in range(11):
    if (i == 0):
      continue
    print(f"{n} X {i} = {i * n}")

In [ ]:
mul(16)

16 X 1 = 16
16 X 2 = 32
16 X 3 = 48
16 X 4 = 64
16 X 5 = 80
16 X 6 = 96
16 X 7 = 112
16 X 8 = 128
16 X 9 = 144
16 X 10 = 160

In [ ]:
# Q8 : Write a function to calculate and return the square of a number.
def number(num):
  return num**2

In [ ]:
number(-3)

9

In [ ]:
# Q9 : Create a function that takes two numbers as parameters and returns their sum.
def sum(n1, n2):
  return n1+n2

In [ ]:
sum(2,6)

8

In [ ]:
# Q10 : Write a function multiply that multiplies two numbers, but can also accept and multiply strings.
def multiply(n1, n2):
  a = n1 * n2
  return a

In [ ]:
x = multiply("Abs", 3)
y = multiply(5, 9)
print(x, y)

AbsAbsAbs 45

In [ ]:
# Q11 : Create a function that rerurns area and circumference of a circle given its radius.
import math

def circle(r):
  area = math.pi * (r**2)
  circumference = 2 * math.pi * r
  return f"The area of this circle is = {area} sq unit, The circumference of this circle is = {circumference} unit"

In [ ]:
circle(3)

'The area of this circle is = 28.274333882308138 sq unit, The circumference of this circle is = 18.84955592153876 unit'

In [ ]:
# Q12 : Write a function that greet a user. If no name is provided, it should greet with a default name.
def greet(name = "Abs"):
  return "Hello"+" "+name+", What's up?"

In [ ]:
print(greet("Sabbir"))

Hello Sabbir, What's up?

In [ ]:
# Q13 : Create a Lambda function to compute the cube of a number.
cube = lambda x: x**3

In [ ]:
cube(5)

125

In [ ]:
# Q14 : Write functions that takes variable number of arguments and return their sum.
del sum
def sum_all(*args):
  print(args)
  for i in args:
    print(i * 2)
  return sum(args)

print(sum_all(1, 2, 3, 65))

(1, 2, 3, 65)
2
4
6
130
71

In [ ]:
# Q15 : Create a function that accepts any number of keyword arguments and prints them in the format key: value
def print_kwargs(**kwargs):
  for key, value in kwargs.items():
    print(f"{key} : {value}")

In [ ]:
print_kwargs(name = "Saktimaan", power = "Fly")
print_kwargs(name = "Saktimaan")
print_kwargs(power = "Fly", enemy = "Karma")
print_kwargs(name = "Saktimaan", power = "Fly", enemy = "Karma")

name : Saktimaan
power : Fly
name : Saktimaan
power : Fly
enemy : Karma
name : Saktimaan
power : Fly
enemy : Karma

In [ ]:
# Q16 : Write a generator function that yields even number up to a specific limit.
def even_generator(limit):
  for i in range(2, limit+1, 2):
    yield i

for i in even_generator(20):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Q17 : Create a recursive function to calculate the factorial of a number.
def facto(num):
  if (num == 1 or num == 0):
    return 1
  return (num * facto(num-1))

In [ ]:
facto(3)

6

**Lambda Function**

In [ ]:
a = lambda x : x**2
a(2)

4

In [ ]:
(lambda x: x+3)(2)

5

In [ ]:
(lambda m, n : (m*3)+n)(2,3)

9

In [ ]:
salary_list = [10000, 15000, 20000, 21000, 18000, 35000, 65000, 14500]
def cal_salary(base_salary, bonus_rate = .1):
  salary = base_salary * (1 + bonus_rate)
  return salary

In [ ]:
cal_salary(15000, .3)

19500.0

In [ ]:
## List Comprehension with function
salary_list = [10000, 15000, 20000, 21000, 18000, 35000, 65000, 14500]
full_salary = [cal_salary(salary) for salary in salary_list]
full_salary

[11000.0,
 16500.0,
 22000.0,
 23100.000000000004,
 19800.0,
 38500.0,
 71500.0,
 15950.000000000002]

In [ ]:
## List Comprehension with lambda function
salary_list = [10000, 15000, 20000, 18000, 21000]
final_salary = [(lambda x : x*1.1)(salary) for salary in salary_list]
final_salary

[11000.0, 16500.0, 22000.0, 19800.0, 23100.000000000004]

In [ ]:
job_data = [
    {
        "job_title": "Senior Data Scientist",
        "job_skill": ["Python", "Machine Learning", "SQL", "TensorFlow", "Data Visualization"],
        "remote": True
    },
    {
        "job_title": "Data Analyst",
        "job_skill": ["SQL", "Excel", "Tableau", "Statistics", "Data Cleaning"],
        "remote": False
    },
    {
        "job_title": "Machine Learning Engineer",
        "job_skill": ["Python", "PyTorch", "Deep Learning", "AWS", "Natural Language Processing"],
        "remote": True
    },
    {
        "job_title": "Business Intelligence Analyst",
        "job_skill": ["Power BI", "SQL", "Data Warehousing", "ETL", "Dashboarding"],
        "remote": False
    },
    {
        "job_title": "Data Science Manager",
        "job_skill": ["Python", "Team Leadership", "Project Management", "Big Data", "Strategic Planning"],
        "remote": True
    }
]
job_data

[{'job_title': 'Senior Data Scientist',
  'job_skill': ['Python',
   'Machine Learning',
   'SQL',
   'TensorFlow',
   'Data Visualization'],
  'remote': True},
 {'job_title': 'Data Analyst',
  'job_skill': ['SQL', 'Excel', 'Tableau', 'Statistics', 'Data Cleaning'],
  'remote': False},
 {'job_title': 'Machine Learning Engineer',
  'job_skill': ['Python',
   'PyTorch',
   'Deep Learning',
   'AWS',
   'Natural Language Processing'],
  'remote': True},
 {'job_title': 'Business Intelligence Analyst',
  'job_skill': ['Power BI', 'SQL', 'Data Warehousing', 'ETL', 'Dashboarding'],
  'remote': False},
 {'job_title': 'Data Science Manager',
  'job_skill': ['Python',
   'Team Leadership',
   'Project Management',
   'Big Data',
   'Strategic Planning'],
  'remote': True}]

In [ ]:
list(filter(lambda jobs : ((jobs["remote"]) and ("Python" in jobs['job_skill'])), job_data))

[{'job_title': 'Senior Data Scientist',
  'job_skill': ['Python',
   'Machine Learning',
   'SQL',
   'TensorFlow',
   'Data Visualization'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skill': ['Python',
   'PyTorch',
   'Deep Learning',
   'AWS',
   'Natural Language Processing'],
  'remote': True},
 {'job_title': 'Data Science Manager',
  'job_skill': ['Python',
   'Team Leadership',
   'Project Management',
   'Big Data',
   'Strategic Planning'],
  'remote': True}]

In [ ]:
abc = [2,3,4,5]
list(map(lambda x : x + x, abc))

[4, 6, 8, 10]

In [ ]:
string = ["Python", "abs"]
list(map(lambda x: str.upper(x), string))

['PYTHON', 'ABS']

In [ ]:
class_att = [('9C', 39),('9A', 41),('9C', 40),('9B', 43),('9A', 43)]

In [ ]:
sorted(class_att, key = lambda x : x[1])

[('9C', 39), ('9C', 40), ('9A', 41), ('9B', 43), ('9A', 43)]

In [ ]:
att = [35,39,49,40,32,30,29]

list(filter(lambda x: x>=35, att))

[35, 39, 49, 40]

In [ ]:
country = ["India", "USA", "Canada", "Bangladesh", "UK", "Japan"]

list(filter(lambda x: len(x) > 3, country))

['India', 'Canada', 'Bangladesh', 'Japan']

In [ ]:
### Reduce Funtion and Lambda Expression
from functools import reduce

num = [10,20,22,26,28,31,30]
sumed = reduce(lambda x,y : x+y, num)
sumed

167

In [ ]:
max_num = reduce(lambda x,y : max(x,y), num)
max_num

31

In [ ]:
min_num = reduce(lambda x,y : min(x,y), num)
min_num

10

In [ ]:
if_max = reduce(lambda x,y : (x if x>y else y), num)
if_max

31

In [ ]:
if_min = reduce(lambda x,y : (x if x<y else y), num)
if_min

10

In [ ]:
### Lambda function of nested list
scores = [[1,35,80],[2,34,76],[3,40,56],[4,30,74],[5,39,61]]
avg_attendence = 35
p = list(map(lambda x : x[2]+2 if x[1] >= avg_attendence else x[2]-2, scores))
p

[82, 74, 58, 72, 63]

In [ ]:
country_sales =[
    {"Country" : "USA", "Sales" : 150000},
    {"Country" : "Canada", "Sales" : 75000},
    {"Country" : "Germany", "Sales" : 120000},
    {"Country" : "France", "Sales" : 90000},
    {"Country" : "Japan", "Sales" : 180000}]

In [ ]:
list(map(lambda x : x["Country"], country_sales))

['USA', 'Canada', 'Germany', 'France', 'Japan']

In [ ]:
list(map(lambda x : x["Sales"], country_sales))

[150000, 75000, 120000, 90000, 180000]

In [ ]:
list(filter(lambda x : x["Country"] == "Canada", country_sales))

[{'Country': 'Canada', 'Sales': 75000}]

In [ ]:
list(filter(lambda x : x["Sales"] > 90000, country_sales))

[{'Country': 'USA', 'Sales': 150000},
 {'Country': 'Germany', 'Sales': 120000},
 {'Country': 'Japan', 'Sales': 180000}]

In [ ]:
li_1 = [10,20,30,40]
li_2 = [3,5,7,9]

list(map(lambda x,y : x+y, li_1, li_2))

[13, 25, 37, 49]