In [ ]:
import random

In [ ]:
# %%timeit
salary_list = [random.randint(50000, 100000) for _ in range(1_000_000)]
salary_list

[56877,
 91382,
 82178,
 78720,
 90424,
 53684,
 93038,
 61804,
 63133,
 57668,
 51587,
 69890,
 83559,
 88809,
 59379,
 53314,
 64144,
 79493,
 86140,
 85097,
 98675,
 98238,
 60811,
 63701,
 62748,
 94110,
 81355,
 88513,
 95544,
 88575,
 89168,
 85963,
 93753,
 83042,
 67267,
 91725,
 74956,
 71711,
 81019,
 77020,
 79988,
 88091,
 85464,
 51769,
 64668,
 63742,
 97836,
 63965,
 99065,
 69903,
 59129,
 59021,
 57197,
 80517,
 72822,
 95728,
 95772,
 64179,
 57548,
 80319,
 77554,
 92787,
 92999,
 77765,
 76993,
 59188,
 80449,
 72116,
 66234,
 78572,
 70466,
 72897,
 95129,
 90799,
 70319,
 78121,
 57253,
 70242,
 60474,
 57603,
 85149,
 67732,
 60079,
 60664,
 88417,
 84060,
 98339,
 98284,
 79077,
 67991,
 57204,
 80947,
 88986,
 56956,
 69400,
 81994,
 61629,
 56783,
 88117,
 64141,
 55947,
 96068,
 54351,
 78217,
 63363,
 59222,
 73869,
 78196,
 89426,
 91539,
 54557,
 64168,
 97351,
 83970,
 71880,
 92708,
 51920,
 81668,
 90024,
 58180,
 56541,
 63123,
 94633,
 95913,
 98024,
 84235,
 65535,
 92368,
 97510,
 76782,
 70931,
 57907,
 87225,
 77676,
 88858,
 91841,
 69626,
 93820,
 96006,
 71172,
 59428,
 69689,
 61507,
 69565,
 79125,
 63922,
 98481,
 62403,
 73021,
 90625,
 99757,
 75002,
 56623,
 56554,
 92153,
 62018,
 79642,
 63939,
 90909,
 65637,
 79592,
 62955,
 65057,
 80873,
 54214,
 74948,
 82319,
 93668,
 61801,
 75015,
 79393,
 65941,
 94109,
 98770,
 93752,
 68453,
 99953,
 85254,
 78225,
 52839,
 99546,
 59240,
 80481,
 57859,
 66127,
 95421,
 88798,
 91344,
 81951,
 98223,
 90152,
 79757,
 76546,
 72245,
 97949,
 86991,
 67359,
 95389,
 96815,
 69372,
 62944,
 79542,
 89286,
 59542,
 74121,
 98837,
 80247,
 53766,
 79482,
 52751,
 60937,
 80378,
 56021,
 55448,
 58080,
 77463,
 74228,
 77869,
 97890,
 65067,
 93546,
 67434,
 95509,
 89697,
 91594,
 64833,
 98750,
 82661,
 68948,
 71950,
 96703,
 68858,
 67295,
 70866,
 90370,
 56940,
 90651,
 54664,
 61110,
 52335,
 55688,
 62211,
 78894,
 93254,
 89222,
 55941,
 56503,
 64705,
 56301,
 99486,
 80435,
 75425,
 96597,
 89678,
 88668,
 81368,
 80440,
 54491,
 99460,
 92189,
 81339,
 62108,
 98542,
 95092,
 57871,
 92483,
 77863,
 72305,
 87088,
 80486,
 95469,
 54133,
 78593,
 78508,
 79341,
 52155,
 69276,
 76917,
 97261,
 96695,
 77239,
 81456,
 84997,
 60455,
 67393,
 79858,
 60796,
 77075,
 76873,
 51252,
 85162,
 58217,
 79718,
 58637,
 79205,
 56088,
 52371,
 66065,
 67656,
 66651,
 71560,
 75761,
 69749,
 65138,
 85067,
 82391,
 84425,
 74507,
 79952,
 69521,
 90966,
 83180,
 77924,
 69208,
 71115,
 67819,
 74444,
 92102,
 50067,
 73607,
 55483,
 79153,
 95892,
 75561,
 64706,
 69771,
 64978,
 80861,
 66540,
 99112,
 93702,
 92401,
 97849,
 52173,
 56233,
 56466,
 66591,
 58962,
 72703,
 71285,
 67993,
 87990,
 99063,
 71239,
 82335,
 71362,
 66586,
 73190,
 61497,
 99839,
 86410,
 70124,
 97324,
 89180,
 93254,
 76641,
 64571,
 70251,
 71210,
 72695,
 91229,
 65704,
 82568,
 75496,
 56165,
 60831,
 74217,
 56003,
 77266,
 74705,
 74021,
 54159,
 88261,
 92607,
 72371,
 64312,
 50240,
 64591,
 73176,
 89266,
 61715,
 91709,
 68319,
 73647,
 79361,
 68253,
 91803,
 54733,
 98227,
 69635,
 71231,
 50948,
 68397,
 61569,
 81035,
 61474,
 56707,
 73980,
 91864,
 50216,
 56622,
 66980,
 90273,
 67943,
 99745,
 51118,
 99331,
 79533,
 62204,
 69890,
 78024,
 63435,
 77515,
 84195,
 85522,
 57966,
 88361,
 61996,
 75855,
 73855,
 87693,
 95655,
 94382,
 77325,
 93356,
 75604,
 85768,
 92534,
 70629,
 88605,
 79487,
 83839,
 95030,
 73559,
 86568,
 74701,
 74535,
 96317,
 97428,
 78047,
 98462,
 82489,
 54228,
 81816,
 58285,
 65150,
 83001,
 51379,
 88568,
 87911,
 90581,
 85982,
 77119,
 53593,
 86210,
 54367,
 93761,
 99576,
 55597,
 64484,
 76323,
 95861,
 93996,
 98166,
 51959,
 84499,
 68219,
 65350,
 70051,
 88608,
 73898,
 99383,
 89225,
 99588,
 84090,
 77695,
 78736,
 81264,
 99443,
 76329,
 65145,
 91774,
 70232,
 90767,
 62589,
 76644,
 69823,
 79496,
 68660,
 84600,
 73275,
 68996,
 98181,
 61179,
 73757,
 85260,
 53753,
 66154,
 63132,
 62157,
 95680,
 86018,
 58736,
 51942,
 97603,
 95789,
 62118,
 96754,
 92499,
 94760,
 64194,
 75573,
 60034,
 54551,
 84549,
 52575,
 92523,
 71838,
 73396,
 67391,
 58023,
 98930,
 79616,
 88295,
 80725,
 77247,
 92210,
 72702,
 89046,
 85254,
 55305,
 51292,
 59387,
 68256,
 78212,
 83068,
 75630,
 77778,
 57035,
 52985,
 79740,
 83883,
 87898,
 92427,
 54672,
 76879,
 92626,
 82256,
 50387,
 85291,
 73088,
 92515,
 96053,
 72709,
 91230,
 92222,
 72945,
 67008,
 66202,
 51083,
 64732,
 65662,
 53433,
 83040,
 93584,
 95058,
 61514,
 59839,
 82009,
 85001,
 88371,
 84459,
 91599,
 83470,
 50321,
 93462,
 87832,
 64826,
 73010,
 56202,
 92176,
 79613,
 95581,
 88684,
 53533,
 68499,
 66298,
 59349,
 66786,
 56828,
 57086,
 74974,
 98753,
 97358,
 89283,
 93521,
 64830,
 80422,
 74420,
 53316,
 97543,
 61135,
 79871,
 82929,
 81289,
 58197,
 54870,
 58698,
 57378,
 95254,
 52275,
 50792,
 95387,
 71686,
 65008,
 50768,
 79314,
 99313,
 74046,
 69744,
 56068,
 72372,
 99579,
 88093,
 85440,
 77131,
 52250,
 96949,
 52393,
 76495,
 87735,
 59201,
 75665,
 59152,
 84453,
 94930,
 75405,
 76534,
 89096,
 84303,
 66118,
 91079,
 55675,
 53397,
 66074,
 98404,
 60721,
 64876,
 61644,
 85057,
 57278,
 52926,
 54595,
 78540,
 75276,
 54648,
 67084,
 82025,
 82541,
 51093,
 98082,
 73837,
 74197,
 97200,
 75678,
 68492,
 58409,
 51139,
 59409,
 93814,
 77344,
 70257,
 73145,
 86422,
 72492,
 67547,
 87449,
 60175,
 55163,
 99655,
 83340,
 85845,
 59518,
 64498,
 77845,
 71154,
 62176,
 71944,
 66143,
 63298,
 84557,
 96602,
 82768,
 99720,
 61586,
 83001,
 89053,
 90681,
 69378,
 95393,
 66659,
 86206,
 74900,
 69782,
 54220,
 52762,
 69249,
 79363,
 51921,
 99295,
 74598,
 81017,
 87327,
 73792,
 68502,
 95729,
 55586,
 60092,
 98534,
 59962,
 79116,
 95651,
 86003,
 68117,
 62835,
 68683,
 57469,
 57334,
 61703,
 56770,
 81913,
 59922,
 93406,
 84298,
 50552,
 53236,
 94715,
 76078,
 87243,
 88215,
 60730,
 88284,
 55473,
 88679,
 63469,
 64000,
 62630,
 61309,
 94377,
 93887,
 51190,
 95580,
 90080,
 97898,
 87785,
 93742,
 52158,
 98083,
 55985,
 50012,
 88717,
 80377,
 60247,
 65908,
 85587,
 99825,
 62435,
 58557,
 60719,
 83029,
 84310,
 55938,
 83062,
 56231,
 61075,
 57560,
 75001,
 84308,
 76635,
 87161,
 54169,
 65418,
 56363,
 65989,
 84645,
 98054,
 85412,
 71082,
 66508,
 84223,
 85089,
 95475,
 86088,
 69059,
 65972,
 62405,
 65075,
 77167,
 71175,
 69455,
 95371,
 93628,
 58002,
 50017,
 97494,
 75421,
 81700,
 84924,
 63349,
 79953,
 99002,
 75071,
 55984,
 69132,
 79251,
 97716,
 86528,
 91412,
 67737,
 66803,
 85129,
 88831,
 92484,
 92585,
 64491,
 94016,
 92141,
 72119,
 72870,
 62305,
 59655,
 65898,
 70816,
 90887,
 81307,
 94045,
 68442,
 50708,
 76525,
 90713,
 77330,
 72040,
 80555,
 68136,
 96181,
 73316,
 81450,
 53981,
 52388,
 58223,
 80730,
 81333,
 70248,
 76842,
 59553,
 97483,
 89513,
 58921,
 53957,
 81299,
 91717,
 75798,
 82818,
 75349,
 89387,
 94127,
 81129,
 56477,
 66782,
 98895,
 59181,
 64530,
 97886,
 55634,
 85601,
 86634,
 69885,
 81575,
 71984,
 79269,
 64246,
 93989,
 53838,
 67415,
 60064,
 87266,
 64364,
 94973,
 54513,
 94907,
 51859,
 74230,
 75029,
 55597,
 98556,
 54919,
 62043,
 55262,
 72477,
 78944,
 91101,
 89129,
 65474,
 71308,
 85159,
 62642,
 50537,
 89180,
 52044,
 77333,
 74779,
 78201,
 56397,
 95274,
 90850,
 93590,
 57958,
 55621,
 69302,
 53270,
 77196,
 78346,
 82509,
 99341,
 89720,
 86171,
 89055,
 85855,
 90361,
 98455,
 78281,
 84186,
 78094,
 92774,
 68750,
 76349,
 93453,
 84966,
 52429,
 61657,
 72912,
 55241,
 53306,
 68791,
 77406,
 58344,
 93708,
 76144,
 62015,
 52849,
 57351,
 86361,
 99809,
 66685,
 85322,
 51665,
 84841,
 92757,
 75987,
 67179,
 50080,
 76435,
 58716,
 61652,
 69523,
 92924,
 77575,
 62173,
 88915,
 53258,
 71427,
 79767,
 64545,
 70399,
 50857,
 83127,
 67111,
 82110,
 57608,
 83350,
 72677,
 86046,
 95803,
 97212,
 90502,
 80278,
 59550,
 86941,
 61954,
 77511,
 56645,
 54625,
 73155,
 69968,
 98808,
 89682,
 50992,
 54537,
 87887,
 61719,
 ...]

In [ ]:
import statistics

In [ ]:
%%timeit
statistics.median(salary_list)

667 ms ± 102 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
import numpy as np

In [ ]:
%%timeit
np.median(salary_list)

183 ms ± 55.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
!pip install datasets

Requirement already satisfied: datasets in /usr/local/lib/python3.11/dist-packages (4.0.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from datasets) (3.18.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.11/dist-packages (from datasets) (2.0.2)
Requirement already satisfied: pyarrow>=15.0.0 in /usr/local/lib/python3.11/dist-packages (from datasets) (18.1.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /usr/local/lib/python3.11/dist-packages (from datasets) (0.3.8)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from datasets) (2.2.2)
Requirement already satisfied: requests>=2.32.2 in /usr/local/lib/python3.11/dist-packages (from datasets) (2.32.3)
Requirement already satisfied: tqdm>=4.66.3 in /usr/local/lib/python3.11/dist-packages (from datasets) (4.67.1)
Requirement already satisfied: xxhash in /usr/local/lib/python3.11/dist-packages (from datasets) (3.5.0)
Requirement already satisfied: multiprocess<0.70.17 in /usr/local/lib/python3.11/dist-packages (from datasets) (0.70.16)
Requirement already satisfied: fsspec<=2025.3.0,>=2023.1.0 in /usr/local/lib/python3.11/dist-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (2025.3.0)
Requirement already satisfied: huggingface-hub>=0.24.0 in /usr/local/lib/python3.11/dist-packages (from datasets) (0.34.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from datasets) (25.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.11/dist-packages (from datasets) (6.0.2)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.11/dist-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (3.12.15)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.11/dist-packages (from huggingface-hub>=0.24.0->datasets) (4.14.1)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.3 in /usr/local/lib/python3.11/dist-packages (from huggingface-hub>=0.24.0->datasets) (1.1.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (2025.8.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets) (2025.2)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (2.6.1)
Requirement already satisfied: aiosignal>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.4.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.7.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (6.6.4)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (0.3.2)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.20.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.17.0)

In [ ]:
from datasets import load_dataset

In [ ]:
dataset = load_dataset("lukebarousse/data_jobs")

/usr/local/lib/python3.11/dist-packages/huggingface_hub/utils/_auth.py:94: UserWarning:
The secret `HF_TOKEN` does not exist in your Colab secrets.
To authenticate with the Hugging Face Hub, create a token in your settings tab (https://huggingface.co/settings/tokens), set it as secret in your Google Colab and restart your session.
You will be able to reuse this secret in all of your notebooks.
Please note that authentication is recommended but still optional to access public models or datasets.
  warnings.warn(

README.md: 0.00B [00:00, ?B/s]

data_jobs.csv:   0%|          | 0.00/231M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/785741 [00:00<?, ? examples/s]

In [ ]:
import pandas as pd

In [ ]:
df = dataset["train"].to_pandas()
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  object
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), float64(2), object(12)
memory usage: 86.2+ MB

In [ ]:
df[['job_title_short', 'job_title']]

,job_title_short,job_title
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...
1,Data Analyst,Data Analyst
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...
4,Data Engineer,Data Engineer- Sr Jobs
...,...,...
785736,Software Engineer,DevOps Engineer
785737,Data Analyst,CRM Data Analyst
785738,Business Analyst,Commercial Analyst - Start Now
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli..."
785740,Software Engineer,AWS System Analyst

In [ ]:
df.iloc[90:101, 2:5]        #(90:101) for index rows & (2:5) for 2,3,4 columns

,job_location,job_via,job_schedule_type
90,Australia,via BeBee Australia,Full-time
91,"Temuco, Chile",via BeBee Chile,Full-time
92,Anywhere,via LinkedIn,Full-time
93,Anywhere,via LinkedIn,Full-time
94,"Lehi, UT",via LinkedIn,Full-time
95,"Mumbai, Maharashtra, India",via Crimsoniteam.freshteam.com,Full-time
96,"Torrance, CA",via LinkedIn,Full-time
97,United Kingdom,via Totaljobs,Full-time and Contractor
98,"Toronto, ON, Canada",via SmartRecruiters Job Search,Full-time
99,"Miami, FL",via LinkedIn,Full-time
100,"Mountain View, CA",via LinkedIn,Full-time

In [ ]:
df[(df.job_title_short == "Data Analyst") & (df.job_country == "Japan")]

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
1563,Data Analyst,Commercial Analyst (Sales / Profit Margin Data...,"Tokyo, Japan",via LinkedIn,Full-time,False,Japan,2023-01-05 13:49:17,True,False,Japan,None,NaN,NaN,Thermo Fisher Scientific,"['excel', 'unity']","{'analyst_tools': ['excel'], 'other': ['unity']}"
3772,Data Analyst,Data Analyst,"Chiyoda City, Tokyo, Japan",via Jobs In Japan,Part-time and Contractor,False,Japan,2023-10-05 13:36:38,True,False,Japan,None,NaN,NaN,Peroptyx,None,None
4182,Data Analyst,Cloud FinOps Data Analyst - Mercari,Anywhere,via LinkedIn,Full-time,True,Japan,2023-06-13 13:17:20,False,False,Japan,None,NaN,NaN,"Mercari, Inc.","['sql', 'go', 'gcp', 'aws', 'looker']","{'analyst_tools': ['looker'], 'cloud': ['gcp',..."
5548,Data Analyst,Data Analyst (Bilingual Japanese - English),Japan,via LinkedIn,Contractor,False,Japan,2023-04-04 13:52:34,False,False,Japan,None,NaN,NaN,Morgan McKinley,['python'],{'programming': ['python']}
7311,Data Analyst,Freelance Online Data Analyst (English and Jap...,"Edogawa City, Tokyo, Japan",via Get.It,Contractor,False,Japan,2023-11-20 13:25:26,True,False,Japan,hour,NaN,10.0,Telus International AI,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779801,Data Analyst,Data Analyst,"Tokyo, Japan",via K2 Talent Solutions,Full-time,False,Japan,2023-07-04 05:26:29,True,False,Japan,None,NaN,NaN,K2 Partnering,"['tableau', 'qlik']","{'analyst_tools': ['tableau', 'qlik']}"
780617,Data Analyst,Data Analyst,"Tokyo, Japan",via LinkedIn,Full-time,False,Japan,2023-12-08 05:47:43,True,False,Japan,None,NaN,NaN,Multinational Company,"['sql', 'tableau', 'power bi', 'alteryx']","{'analyst_tools': ['tableau', 'power bi', 'alt..."
784056,Data Analyst,Data Analyst,Anywhere,via LinkedIn,Full-time,True,Japan,2023-01-30 06:17:28,False,False,Japan,None,NaN,NaN,startup oi,"['sql', 'ssrs', 'dax', 'power bi']","{'analyst_tools': ['ssrs', 'dax', 'power bi'],..."
784179,Data Analyst,Data Analyst,"Tokyo, Japan",via LinkedIn,Full-time,False,Japan,2023-01-09 06:39:24,True,False,Japan,None,NaN,NaN,4M Career,"['sql', 'python', 'perl', 'vba', 'excel']","{'analyst_tools': ['excel'], 'programming': ['..."
784502,Data Analyst,"Data Analyst, Medical Products Business Dept.",Japan,via LinkedIn,Full-time,False,Japan,2023-01-30 06:17:28,True,False,Japan,None,NaN,NaN,"Medline Industries, LP",['excel'],{'analyst_tools': ['excel']}

In [ ]:
type(df.job_posted_date[0])

str

In [ ]:
df.job_posted_date = pd.to_datetime(df.job_posted_date)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [ ]:
df['job_posted_month'] = df.job_posted_date.dt.month

In [ ]:
df.tail()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_month
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete...",3
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi...",3
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}",3
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh...",3
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}",3

In [ ]:
df.sort_values("job_posted_date", inplace = True)

In [ ]:
df.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_month
108804,Data Analyst,Data Analyst,"New York, NY",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:04,False,False,United States,None,NaN,NaN,Metasys Technologies,"['sql', 'snowflake', 'visio', 'jira', 'conflue...","{'analyst_tools': ['visio'], 'async': ['jira',...",1
96906,Data Analyst,Data Analyst,"Bloomfield, CT",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:07,True,False,United States,None,NaN,NaN,Diverse Lynx,"['sql', 'sas', 'sas']","{'analyst_tools': ['sas'], 'programming': ['sq...",1
98438,Data Analyst,Data Analyst,"Washington, DC",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:22,False,True,United States,None,NaN,NaN,Guidehouse,"['sql', 'python', 'r', 'azure', 'snowflake', '...","{'analyst_tools': ['tableau', 'excel'], 'cloud...",1
110290,Data Analyst,Data Analyst,"Fairfax, VA",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:24,False,False,United States,None,NaN,NaN,Protask,"['sql', 'jira']","{'async': ['jira'], 'programming': ['sql']}",1
72158,Senior Data Analyst,Senior Data Analyst / Platform Experience,"Worcester, MA",via LinkedIn,Full-time,False,"New York, United States",2023-01-01 00:00:27,False,True,United States,None,NaN,NaN,Atria Wealth Solutions,"['sql', 'atlassian', 'jira']","{'async': ['jira'], 'other': ['atlassian'], 'p...",1

In [ ]:
df.drop("salary_hour_avg", axis = 1, inplace = True)        # axis = 0 for rows, axis = 1 for columns

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 785741 entries, 108804 to 90102
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  company_name           785723 non-null  object
 14  job_skills             668704 non-null  object
 15  job_type_skills        668704 non-null  object
 16  job_posted_month       785741 non-null  int32
dtypes: bool(3), datetime64[ns](1), float64(1), int32(1), object(11)
memory usage: 89.2+ MB

In [ ]:
df.dropna(subset = ["salary_year_avg"], axis = 0, inplace = True)

In [ ]:
df['salary_year_avg'].median()

115000.0

In [ ]:
df['salary_year_avg'].min()

15000.0

In [ ]:
min_salary = df['salary_year_avg'].idxmin()
min_salary

np.int64(665729)

In [ ]:
df.loc[min_salary]

job_title_short                                              Data Engineer
job_title                                           Data Engineer - Hadoop
job_location                                                        Brazil
job_via                                                       via LinkedIn
job_schedule_type                                                Full-time
job_work_from_home                                                   False
search_location                                                     Brazil
job_posted_date                                        2023-12-09 10:05:30
job_no_degree_mention                                                 True
job_health_insurance                                                 False
job_country                                                         Brazil
salary_rate                                                           year
salary_year_avg                                                    15000.0
company_name                                               Net2Source Inc.
job_skills               ['java', 'python', 'oracle', 'aws', 'hadoop', ...
job_type_skills          {'cloud': ['oracle', 'aws'], 'libraries': ['ha...
job_posted_month                                                        12
Name: 665729, dtype: object

In [ ]:
df['job_title_short'].unique()

array(['Data Scientist', 'Data Engineer', 'Business Analyst',
       'Data Analyst', 'Senior Data Engineer', 'Senior Data Scientist',
       'Senior Data Analyst', 'Software Engineer',
       'Machine Learning Engineer', 'Cloud Engineer'], dtype=object)

In [ ]:
df['job_title_short'].value_counts()

job_title_short
Data Scientist               5922
Data Analyst                 5451
Data Engineer                4500
Senior Data Scientist        1690
Senior Data Engineer         1591
Senior Data Analyst          1131
Business Analyst              610
Machine Learning Engineer     576
Software Engineer             467
Cloud Engineer                 65
Name: count, dtype: int64

### Advance Analysis using GroupBy

In [ ]:
df.groupby('job_title_short')['salary_year_avg'].min()

job_title_short
Business Analyst             16500.0
Cloud Engineer               42000.0
Data Analyst                 25000.0
Data Engineer                15000.0
Data Scientist               27000.0
Machine Learning Engineer    30000.0
Senior Data Analyst          30000.0
Senior Data Engineer         35000.0
Senior Data Scientist        45000.0
Software Engineer            28000.0
Name: salary_year_avg, dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22003 entries, 108883 to 327439
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title_short        22003 non-null  object
 1   job_title              22003 non-null  object
 2   job_location           21723 non-null  object
 3   job_via                22003 non-null  object
 4   job_schedule_type      21987 non-null  object
 5   job_work_from_home     22003 non-null  bool
 6   search_location        22003 non-null  object
 7   job_posted_date        22003 non-null  datetime64[ns]
 8   job_no_degree_mention  22003 non-null  bool
 9   job_health_insurance   22003 non-null  bool
 10  job_country            22003 non-null  object
 11  salary_rate            22003 non-null  object
 12  salary_year_avg        22003 non-null  float64
 13  company_name           22003 non-null  object
 14  job_skills             20170 non-null  object
 15  job_type_skills        20170 non-null  object
 16  job_posted_month       22003 non-null  int32
dtypes: bool(3), datetime64[ns](1), float64(1), int32(1), object(11)
memory usage: 3.0+ MB

In [ ]:
df.groupby(["job_title_short", "job_country"])["salary_year_avg"].min()

job_title_short    job_country
Business Analyst   Argentina               63000.0
                   Australia               63000.0
                   Bangladesh              16500.0
                   Belgium                 72900.0
                   Bulgaria                63000.0
                                            ...
Software Engineer  Ukraine                 54000.0
                   United Arab Emirates    79200.0
                   United Kingdom          89100.0
                   United States           48982.0
                   Vietnam                 28000.0
Name: salary_year_avg, Length: 598, dtype: float64

In [ ]:
df.groupby(["job_title_short", "job_country"])["salary_year_avg"].agg([min, max])

/tmp/ipython-input-2727849056.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby(["job_title_short", "job_country"])["salary_year_avg"].agg([min, max])
/tmp/ipython-input-2727849056.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby(["job_title_short", "job_country"])["salary_year_avg"].agg([min, max])

                                            min       max
job_title_short   job_country
Business Analyst  Argentina             63000.0   79200.0
                  Australia             63000.0  130000.0
                  Bangladesh            16500.0   16500.0
                  Belgium               72900.0   89100.0
                  Bulgaria              63000.0   89100.0
...                                         ...       ...
Software Engineer Ukraine               54000.0   54000.0
                  United Arab Emirates  79200.0   79200.0
                  United Kingdom        89100.0  160000.0
                  United States         48982.0  375000.0
                  Vietnam               28000.0   79200.0

[598 rows x 2 columns]

In [ ]:
df["job_country"].isin(["India"]).any()

np.True_

In [ ]:
df["job_country"].isin(["North Korea"]).any()

np.False_

In [ ]:
us_jobs = df[df["job_country"] == "United States"]

In [ ]:
us_jobs = us_jobs[us_jobs['salary_year_avg'].notna()]

In [ ]:
us_jobs

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,company_name,job_skills,job_type_skills,job_posted_month
108883,Data Scientist,Data Scientist,"Calabasas, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:02:56,False,True,United States,year,110000.0,PlanetArt,"['python', 'sql', 'tableau', 'excel']","{'analyst_tools': ['tableau', 'excel'], 'progr...",1
365786,Business Analyst,Hospitality Operations Analyst,Anywhere,via Goodwin Recruiting | Job Board,Full-time,True,Georgia,2023-01-01 00:17:55,False,True,United States,year,90000.0,Goodwin Recruiting,"['sql', 'excel', 'powerpoint', 'outlook']","{'analyst_tools': ['excel', 'powerpoint', 'out...",1
366073,Data Analyst,Data Analytics Professional,"Atlanta, GA",via CareerBuilder,Full-time,False,Georgia,2023-01-01 00:17:58,False,False,United States,year,55000.0,Cogent Infotech.,"['sql', 'python', 'numpy', 'pandas', 'seaborn'...","{'analyst_tools': ['excel', 'alteryx', 'tablea...",1
108099,Data Scientist,Lead Data Scientist (Hybrid),"Burnsville, MN",via Recruit.net,Full-time,False,"Illinois, United States",2023-01-01 00:21:09,False,False,United States,year,120531.0,Apple Valley,"['java', 'sql', 'sql server', 'spring']","{'databases': ['sql server'], 'libraries': ['s...",1
78139,Data Engineer,Data Engineer - Revenue Platforms,"Boston, NY",via Recruit.net,Full-time,False,"Florida, United States",2023-01-01 00:27:40,False,True,United States,year,300000.0,Datadog,"['scala', 'python', 'spark']","{'libraries': ['spark'], 'programming': ['scal...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679,Software Engineer,"Tech Lead Software Engineer, TikTok Data Access","San Jose, CA",via LinkedIn,Full-time,False,"Illinois, United States",2023-12-31 13:03:14,False,True,United States,year,317000.0,TikTok,"['java', 'go', 'c++', 'python', 'mongodb', 'mo...","{'databases': ['mongodb', 'mysql', 'redis'], '...",12
3448,Senior Data Engineer,Senior Python Developer for Data Engineering,"New York, NY",via LinkedIn,Full-time,False,Georgia,2023-12-31 13:32:38,True,False,United States,year,140000.0,Luxoft,"['python', 'sql']","{'programming': ['python', 'sql']}",12
186163,Senior Data Scientist,"Tech Lead / Sr Data Scientist, Product Analyti...","Los Angeles, CA",via LinkedIn,Full-time,False,"California, United States",2023-12-31 15:00:46,False,True,United States,year,271526.5,TikTok,"['sql', 'python', 'r', 'express']","{'programming': ['sql', 'python', 'r'], 'webfr...",12
421728,Data Analyst,Data Analyst - Operations,"Los Angeles, CA",via Indeed,Full-time,False,"California, United States",2023-12-31 16:00:07,False,True,United States,year,72750.0,Wilshire Law Firm Plc,"['sql', 'power bi', 'unity']","{'analyst_tools': ['power bi'], 'other': ['uni...",12
313161,Data Scientist,Data Scientist - Security Clearance Required,"Newport News, VA",via IT JobServe,Full-time,False,Georgia,2023-12-31 17:31:57,False,False,United States,year,114062.5,Leidos,"['python', 'r', 'sql', 'pandas', 'numpy']","{'libraries': ['pandas', 'numpy'], 'programmin...",12

In [ ]:
us_jobs.groupby("job_title_short")["salary_year_avg"].agg(['median', 'min', 'max', 'count']).sort_values(by = 'median', ascending = False)

                             median      min       max  count
job_title_short
Senior Data Scientist      155000.0  55000.0  475000.0   1241
Machine Learning Engineer  150000.0  44408.5  315000.0    128
Senior Data Engineer       150000.0  45000.0  375000.0   1058
Data Scientist             130000.0  30000.0  960000.0   4553
Software Engineer          130000.0  48982.0  375000.0    157
Data Engineer              125000.0  23496.0  525000.0   2915
Cloud Engineer             116100.0  42000.0  221844.0     20
Senior Data Analyst        110000.0  35360.0  425000.0    913
Business Analyst            90000.0  35000.0  387460.0    431
Data Analyst                90000.0  25000.0  375000.0   4350

In [ ]:
df.groupby("job_title_short")["salary_year_avg"].median().sort_values(ascending = False)

job_title_short
Senior Data Scientist        155500.0
Senior Data Engineer         147500.0
Data Scientist               127500.0
Data Engineer                125000.0
Senior Data Analyst          111175.0
Machine Learning Engineer    106415.0
Software Engineer             99150.0
Cloud Engineer                90000.0
Data Analyst                  90000.0
Business Analyst              85000.0
Name: salary_year_avg, dtype: float64